* {
  font-family: 'Space Mono', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #202124;
}

h1,
h2,
h3,
input,
button {
  font-family: 'Press Start 2P', system-ui;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 14px;
  background: radial-gradient(circle,rgba(70, 86, 161, 1) 0%, rgba(196, 79, 103, 1) 100%);
  gap: 14px;
}

header {
  display: flex;
  align-items: stretch;
}

header,
.main {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  gap: 14px;
}

header input {
  flex: 1;
  border-radius: 14px;
  outline: none;
  width: 100%;
}

@keyframes buttonAnimation {
  0%   {transform: translateX(2px);
        transform: translateY(2px);
        box-shadow: none;}
  50% {box-shadow: 2px 2px;}
}

header button {
  border-radius: 14px;
  background: transparent;
  transition-duration: 200ms;
  cursor: pointer;
  box-shadow: 3px 3px black;
}

header button:hover {
  transform: translateX(1px);
  transform: translateY(1px);
  box-shadow: 2px 2px;
}

header button:focus {
  animation-name: buttonAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

header button,
header input {
  padding: 14px 18px;
  border: none;
  outline: none;
  background: white;
}

p {
  font-size: 0.9em;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.todoHeader {
  font-size: 2.5em;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  text-shadow: 1px 1px 2px pink;
  font-family: 'Press Start 2P', system-ui;
}

.todoHeader:hover {
  text-shadow: 2px 2px 2px pink;
  cursor: default;
}

 .line{
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

.todoItem {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px;
  border-radius: 14px;
  background: white;
  box-shadow: 2px 2px black;
}

.todoItem:hover {
  box-shadow: 3px 3px black;
}

@keyframes strike{
  0%   { width : 0; }
  100% { width: 100%; }
}
.strike {
  position: relative;
}
.strike::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: black;
  animation-name: strike;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.todoItem p {
  flex: 1;
}

.actionsContainer {
  display: flex;
  align-items: center;
  gap: 14px;
}

.actionsContainer button {
  transition-duration: 200ms;
  border: none;
  background: transparent;
  cursor: pointer;
}

.actionsContainer button:hover {
  opacity: 0.7;
}



@media (min-width: 640px) {

  header button,
  header input {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }
}